*
!.gitignore
!autocomplete-dict
!my-packages
!neotree
!yasnippet-snippets
!calx-theme.el
!help
!runemacsclient.bat
!runemacsclient.exe
!init.el
!ceh.el
!calx-api.el
!tags.el
!README
!preview.png
!cmake-cpp-proj.el